<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Add Students</h1> 
   <form action="{url 'addstudent'}">
    <lebel for="name">name: </lebel>
    <input type="text" name="name" id="name">

    <lebel for="name">Department: </lebel>
    <input type="text" name="depertmen" id="depertmen">

    <lebel for="name">Roll: </lebel>
    <input type="number" name="roll" id="roll">

    <lebel for="name">Semester: </lebel>
    <input type="number" name="semester" id="semester">

    <lebel for="name">CGPA: </lebel>
    <input type="number" name="cgpa" id="cgpa">

    <input type="submit" value="Submit">
   </form>
</body>
</html>